.number {
    margin: 20px;
    padding-top: 10px;
}
.number .phone {
    font-size: 30px;
    font-weight: bolder;
    color: red;
}
.number p, .number .farm_logo, .number .icon{
    display: inline-block;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.number .farm_logo{
    position:absolute;
    left: 45%;
    color: rgb(35, 177, 10);
}
.number .icon{
        float: right;
}
.icon i{
    padding: 0px 10px;
}

nav{
    
    position:sticky;
    height: 60px;
    background-color:rgb(12, 157, 12);
    display: flex;
    justify-content:center;
}
nav a:hover {  
    background-color: rgb(244, 177, 53);
    padding: 12px 10px;
    text-decoration: none;
}
nav a{  
    font-size:x-large;
    color: white;
    margin: auto 15px;
    text-decoration: none;
}
.image1{
    border: 5px solid rgb(204, 183, 28);
    
  }
.page1{
    height: 700px;
    background-position: center;
    background-size:100% 100%;
    background-image: url("S:/organic-farm-website-template/img/back1.jpg");
    background-repeat:no-repeat;
    background-size: 100% 700px;
}
.text1{
    color: rgb(239, 244, 245);
   
}
.text1, .explore1{
    padding-left: 20%;
    padding-top: 10px;
}
.explore1 :hover{
    background-color:rgb(25, 203, 219);
    text-decoration: none;
}
.explore2{
    font-size:x-large;
    color:  white;
    background-color: rgb(12, 157, 12);
    padding: 10px;
    text-decoration: none;
}
.explore3{
    border-radius: 3px;
    font-size:x-large;
    color:  white;
    background-color: orange;
    padding: 10px;
    text-decoration: none;
}
table{
    display:flex;
    justify-content: center;
    margin:0% 10% 0% 10%;
}
.org1{
    font-size:larger;
    background-image: url(S:/organic-farm-website-template/img/vegetable.png);
    background-repeat:no-repeat;
    background-position:100%; 
    color: white;
    background-color: rgb(12, 157, 12);
    padding: 50px;
}
.org2{
    font-size:larger;
    background-image: url(S:/organic-farm-website-template/img/fruit.png);
    background-repeat:no-repeat;
    background-position:100%; 
    color: white;
    background-color: orange;
    padding: 50px;
}
table a{
    color: rgb(250, 247, 247);
    text-decoration: none;
}
.container .facts{
   font-size: xx-large;
   color: white;
   padding: 40px;
}
.sk1:hover{
    background-color: rgb(12, 157, 12);
    transform:scale(1.1)
}
.sk1{
    font-size: 30px;
    background-color:  rgb(142, 210, 32);
}
.service{
    cursor: pointer;
    background-color: rgb(227, 191, 81);
    
    margin: 5px 0px;
    border-radius: 10px;
}
.service:hover{
    transform:scale(1.1);
    background-color:  rgb(12, 157, 12);
}
.feature{
    background-color:  rgb(12, 157, 12);
}
.feature_image{
    background-color:blanchedalmond;
    padding: 10px;
}
.feature p{
    color: white;
}
.feature .heading{
    font-size: xx-large;
    font-weight: bold;
}
.product p{
    font-size: 50px;
    font-weight: bolder;
}
.row .image1 p{
    color: black;
    font-weight: bold;
    text-align: center;
}

.row  .image1{
    border-radius: 70px;
    padding: 10px;
    border: 2px solid green;
    background-color: rgb(245, 245, 245);
}
.row .image1:hover{
    background-color:orange;
    transform:scale(1)
}
footer {
    background-color: rgb(139, 239, 139);
}
footer .row p{
    color: rgb(59, 31, 240);
    font-weight: bolder;
    font-size:xx-large;
   margin:50px 0px 20px 0px;
}
footer .sign{
    border-radius: 10px;
    font-size: x-large;
    background-color: rgb(54, 179, 8);    
}
footer .row i{
    font-size: large;
}
footer .row{
    padding-bottom: 50px;
}
footer .Newsletter{
    background-color: rgb(236, 177, 68);
    height: 400px;

}